<!-- Generator: Widdershins v4.0.1 -->

<h1 id="sample-api">Sample API v1.0.0</h1>

<blockquote>
  <p>
    Scroll down for code samples, example requests and responses. Select a
    language for code samples from the tabs above or the mobile navigation menu.
  </p>
</blockquote>
<p>A sample API to illustrate OpenAPI concepts</p>
<h1 id="sample-api-default">Default</h1>

<h2 id="get__list">get__list</h2>
<blockquote>
  <p>Code samples</p>
</blockquote>
<pre><code class="language-shell"># You can also use wget
curl -X GET /list
</code></pre>
<p><code>GET /list</code></p>
<p>Returns a list of stuff</p>
<h3 id="get__list-responses">Responses</h3>

<table>
  <thead>
    <tr>
      <th>Status</th>
      <th>Meaning</th>
      <th>Description</th>
      <th>Schema</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>200</td>
      <td>
        <a href="https://tools.ietf.org/html/rfc7231#section-6.3.1">OK</a>
      </td>
      <td>Successful response</td>
      <td>None</td>
    </tr>
  </tbody>
</table>
<aside class="success">This operation does not require authentication</aside>
